#px-abs-unit{
    width: 100px;
    height: 150px;
    background-color: blueviolet;
}

#cm-abs-unit{
    width: 5cm;
    height: 7cm;
    background-color: pink;
}

/*Relative Units*/

#percent-container{
    width: 200px;
    height: 200px;
    background-color: lightgrey;
}
#percent-rel-unit{
    width: 60%;
    height: 50%;
    background-color: green;
}

#percent-remainder-unit{
    width: 40%;
    height: 50%;
    background-color: red;
}

#vh-rel-unit{
    background-color: orange;
    height: 50vh;
}

#vw-rel-unit{
    background-color: lightblue;
    width: 50vw;
}

#percent-rel-unit{
    width: 50%;
    height: 40px;
    background-color: green;
}